@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #660066;
    --secondary-color: #221E22;
}

.bg-img {
    background-image: radial-gradient(
            circle,
            rgba(0, 0, 0, 0.7) 36%,
            rgba(2, 0, 36, 0.6) 57%
    ),
    url('./images/bg_home1.jpeg');
    background-position: center;
    background-size: 110% 110%;
}

.error-msg {
    @apply text-red-500 text-sm !-mb-5 absolute bottom-0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.4s ease;
    opacity: 1;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    /*transform: translateX(-10px);*/
    opacity: 0;
}

.error {
    @apply mb-1 text-xs text-red-500 italic;
}

input:focus,
select:focus {
    outline: none;
}

.input {
    @apply duration-300 border-2 py-1 px-2 rounded-xl border-2 border-primary-color;
}